<a href="https://colab.research.google.com/github/akankshakumar91/SpotifyDataset2020_Analysis/blob/main/Spotify2020_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
IMPORTING LIBRARIES
```

In [168]:
import numpy as np
import pandas as pd

from sklearn import preprocessing

In [169]:
url = 'https://raw.githubusercontent.com/akankshakumar91/SpotifyDataset2020_Analysis/main/spotify_dataset.csv'

spotify_data = pd.read_csv(url, parse_dates=['Release Date'])

df = pd.DataFrame(data=spotify_data)
df.dtypes

Index                         int64
Highest Charting Position     int64
Number of Times Charted       int64
Week of Highest Charting     object
Song Name                    object
Streams                      object
Artist                       object
Artist Followers             object
Song ID                      object
Genre                        object
Release Date                 object
Weeks Charted                object
Popularity                   object
Danceability                 object
Energy                       object
Loudness                     object
Speechiness                  object
Acousticness                 object
Liveness                     object
Tempo                        object
Duration (ms)                object
Valence                      object
Chord                        object
dtype: object

[Data Selection (Example 1)](https://www.analyseup.com/learn-python-for-data-science/python-pandas-select-drop-rename-columns.html)

In [170]:
df.shape

(1556, 23)

In [171]:
df.describe()

             Index  Highest Charting Position  Number of Times Charted
count  1556.000000                1556.000000              1556.000000
mean    778.500000                  87.744216                10.668380
std     449.322824                  58.147225                16.360546
min       1.000000                   1.000000                 1.000000
25%     389.750000                  37.000000                 1.000000
50%     778.500000                  80.000000                 4.000000
75%    1167.250000                 137.000000                12.000000
max    1556.000000                 200.000000               142.000000

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Index                      1556 non-null   int64
 1   Highest Charting Position  1556 non-null   int64
 2   Number of Times Charted    1556 non-null   int64
 3   Week of Highest Charting   1556 non-null   object
 4   Song Name                  1556 non-null   object
 5   Streams                    1556 non-null   object
 6   Artist                     1556 non-null   object
 7   Artist Followers           1556 non-null   object
 8   Song ID                    1556 non-null   object
 9   Genre                      1556 non-null   object
 10  Release Date               1556 non-null   object
 11  Weeks Charted              1556 non-null   object
 12  Popularity                 1556 non-null   object
 13  Danceability               1556 non-null   object
 14  Energy                     1556 non-null   object
 15  Loudness                   1556 non-null   object
 16  Speechiness                1556 non-null   object
 17  Acousticness               1556 non-null   object
 18  Liveness                   1556 non-null   object
 19  Tempo                      1556 non-null   object
 20  Duration (ms)              1556 non-null   object
 21  Valence                    1556 non-null   object
 22  Chord                      1556 non-null   object
dtypes: int64(3), object(20)
memory usage: 279.7+ KB

In [174]:
list_quant = ['Index', 'Highest Charting Position', 'Number of Times Charted', 'Streams', 'Artist Followers', 
                'Popularity', 'Danceability', 'Energy', 'Loudness', 'Speechiness', 'Acousticness', 'Liveness', 'Tempo', 'Duration (ms)', 'Valence']

list_chat = ['Week of Highest Charting', 'Song Name', 'Artist', 'Song ID', 'Genre', 'Release Date', 'Weeks Charted', 'Chord']

list_dates = ['Week of Highest Charting', 'Release Date', 'Weeks Charted']

list_inelig = [' ', '']

In [175]:
# Print column indexes for a data frame

def columnIndexes(this_df):
  for i in this_df.columns:
    indx = this_df.columns.get_loc(i)
    print("Index: {} | Column : {}".format(indx, i))

In [201]:
# remove leading & trailing spaces from column in dataframe

def removeSpaceFromDf(this_df):
  for i in this_df.columns:
    this_df[i] = this_df[i].str.strip()
    print('Removing space from column : {}', format(i))
  return this_df

In [225]:
# remove leading & trailing spaces from column in dataframe

def convertToNumericDf(this_df):
  for i in this_df.columns:
    this_df[i] = pd.to_numeric(this_df[i], errors='coerce')
    print('Converted to numeric column : {}', format(i))
  return this_df

In [176]:
columnIndexes(spotify_data)

Index: 0 | Column : Index
Index: 1 | Column : Highest Charting Position
Index: 2 | Column : Number of Times Charted
Index: 3 | Column : Week of Highest Charting
Index: 4 | Column : Song Name
Index: 5 | Column : Streams
Index: 6 | Column : Artist
Index: 7 | Column : Artist Followers
Index: 8 | Column : Song ID
Index: 9 | Column : Genre
Index: 10 | Column : Release Date
Index: 11 | Column : Weeks Charted
Index: 12 | Column : Popularity
Index: 13 | Column : Danceability
Index: 14 | Column : Energy
Index: 15 | Column : Loudness
Index: 16 | Column : Speechiness
Index: 17 | Column : Acousticness
Index: 18 | Column : Liveness
Index: 19 | Column : Tempo
Index: 20 | Column : Duration (ms)
Index: 21 | Column : Valence
Index: 22 | Column : Chord

In [218]:

df_temp = removeSpaceFromDf(df.iloc[:,12:21])
df_temp.shape


df_temp.replace(to_replace=list_inelig, value=np.NaN, inplace=True)
df_temp.info
df_temp.dropna
df_temp.shape

Removing space from column : {} Popularity
Removing space from column : {} Danceability
Removing space from column : {} Energy
Removing space from column : {} Loudness
Removing space from column : {} Speechiness
Removing space from column : {} Acousticness
Removing space from column : {} Liveness
Removing space from column : {} Tempo
Removing space from column : {} Duration (ms)

(1556, 9)

In [228]:
df_temp = convertToNumericDf(df_temp)

Converted to numeric column : {} Popularity
Converted to numeric column : {} Danceability
Converted to numeric column : {} Energy
Converted to numeric column : {} Loudness
Converted to numeric column : {} Speechiness
Converted to numeric column : {} Acousticness
Converted to numeric column : {} Liveness
Converted to numeric column : {} Tempo
Converted to numeric column : {} Duration (ms)

<bound method NDFrame.describe of       Popularity  Danceability  Energy  ...  Liveness    Tempo  Duration (ms)
0          100.0         0.714   0.800  ...    0.3590  134.002       211560.0
1           99.0         0.591   0.764  ...    0.1030  169.928       141806.0
2           99.0         0.563   0.664  ...    0.0849  166.928       178147.0
3           98.0         0.808   0.897  ...    0.3640  126.026       231041.0
4           96.0         0.736   0.704  ...    0.0501  149.995       212000.0
...          ...           ...     ...  ...       ...      ...            ...
1551        79.0         0.762   0.700  ...    0.1530  116.073       209320.0
1552        66.0         0.528   0.870  ...    0.3330  152.370       181930.0
1553        81.0         0.765   0.523  ...    0.1320  104.988       217307.0
1554        60.0         0.832   0.550  ...    0.1820  154.064       152784.0
1555        70.0         0.448   0.603  ...    0.0862  205.272       221307.0

[1556 rows x 9 columns]>

In [231]:
df.iloc[:,12:21] = df_temp

In [233]:
df.describe()

             Index  Highest Charting Position  ...        Tempo  Duration (ms)
count  1556.000000                1556.000000  ...  1545.000000    1545.000000
mean    778.500000                  87.744216  ...   122.811023  197940.816828
std     449.322824                  58.147225  ...    29.591088   47148.930420
min       1.000000                   1.000000  ...    46.718000   30133.000000
25%     389.750000                  37.000000  ...    97.960000  169266.000000
50%     778.500000                  80.000000  ...   122.012000  193591.000000
75%    1167.250000                 137.000000  ...   143.860000  218902.000000
max    1556.000000                 200.000000  ...   205.272000  588139.000000

[8 rows x 12 columns]