<a href="https://colab.research.google.com/github/akankshakumar91/SpotifyDataset2020_Analysis/blob/main/Spotify2020_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
IMPORTING LIBRARIES
```

In [2]:
import numpy as np
import pandas as pd

from sklearn import preprocessing

In [31]:
url = 'https://raw.githubusercontent.com/akankshakumar91/SpotifyDataset2020_Analysis/main/spotify_dataset.csv'

spotify_data = pd.read_csv(url, parse_dates=['Release Date'])

df = pd.DataFrame(data=spotify_data)
df.dtypes

Index                         int64
Highest Charting Position     int64
Number of Times Charted       int64
Week of Highest Charting     object
Song Name                    object
Streams                      object
Artist                       object
Artist Followers             object
Song ID                      object
Genre                        object
Release Date                 object
Weeks Charted                object
Popularity                   object
Danceability                 object
Energy                       object
Loudness                     object
Speechiness                  object
Acousticness                 object
Liveness                     object
Tempo                        object
Duration (ms)                object
Valence                      object
Chord                        object
dtype: object

In [32]:
df.head()

   Index  Highest Charting Position  ...  Valence  Chord
0      1                          1  ...    0.589      B
1      2                          2  ...    0.478  C#/Db
2      3                          1  ...    0.688      A
3      4                          3  ...    0.591      B
4      5                          5  ...    0.894  D#/Eb

[5 rows x 23 columns]

[Data Selection (Example 1)](https://www.analyseup.com/learn-python-for-data-science/python-pandas-select-drop-rename-columns.html)

In [33]:
df.shape

(1556, 23)

In [34]:
df.describe()

             Index  Highest Charting Position  Number of Times Charted
count  1556.000000                1556.000000              1556.000000
mean    778.500000                  87.744216                10.668380
std     449.322824                  58.147225                16.360546
min       1.000000                   1.000000                 1.000000
25%     389.750000                  37.000000                 1.000000
50%     778.500000                  80.000000                 4.000000
75%    1167.250000                 137.000000                12.000000
max    1556.000000                 200.000000               142.000000

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Index                      1556 non-null   int64
 1   Highest Charting Position  1556 non-null   int64
 2   Number of Times Charted    1556 non-null   int64
 3   Week of Highest Charting   1556 non-null   object
 4   Song Name                  1556 non-null   object
 5   Streams                    1556 non-null   object
 6   Artist                     1556 non-null   object
 7   Artist Followers           1556 non-null   object
 8   Song ID                    1556 non-null   object
 9   Genre                      1556 non-null   object
 10  Release Date               1556 non-null   object
 11  Weeks Charted              1556 non-null   object
 12  Popularity                 1556 non-null   object
 13  Danceability               1556 non-null   object
 14  Energy                     1556 non-null   object
 15  Loudness                   1556 non-null   object
 16  Speechiness                1556 non-null   object
 17  Acousticness               1556 non-null   object
 18  Liveness                   1556 non-null   object
 19  Tempo                      1556 non-null   object
 20  Duration (ms)              1556 non-null   object
 21  Valence                    1556 non-null   object
 22  Chord                      1556 non-null   object
dtypes: int64(3), object(20)
memory usage: 279.7+ KB

In [36]:
list_quant = ['Index', 'Highest Charting Position', 'Number of Times Charted', 'Streams', 'Artist Followers', 
                'Popularity', 'Danceability', 'Energy', 'Loudness', 'Speechiness', 'Acousticness', 'Liveness', 'Tempo', 'Duration (ms)', 'Valence']

list_chat = ['Week of Highest Charting', 'Song Name', 'Artist', 'Song ID', 'Genre', 'Release Date', 'Weeks Charted', 'Chord']

list_dates = ['Week of Highest Charting', 'Release Date', 'Weeks Charted']

list_inelig = [' ', '']

In [37]:
# Print column indexes for a data frame

def columnIndexes(this_df):
  for i in this_df.columns:
    indx = this_df.columns.get_loc(i)
    print("Index: {} | Column : {}".format(indx, i))

In [38]:
# remove leading & trailing spaces from column in dataframe

def removeSpaceFromDf(this_df):
  for i in this_df.columns:
    this_df[i] = this_df[i].str.strip()
    print('Removing space from column : {}', format(i))
  return this_df

In [10]:
# remove character from dataframe

def removeCharFromDf(this_df, rm_list=[]):
  for i in this_df.columns:
    this_df[i] = this_df[i].str.replace(rm_list, '')
  return this_df

In [11]:
# remove leading & trailing spaces from column in dataframe

def convertToNumericDf(this_df):
  for i in this_df.columns:
    this_df[i] = pd.to_numeric(this_df[i], errors='coerce')
    print('Converted to numeric column : {}', format(i))
  return this_df

In [ ]:
# list unique values

def listUniqueVals(this_df):
  for i in this_df.colnames:
    print(' Colnames =')

In [39]:
columnIndexes(spotify_data)

Index: 0 | Column : Index
Index: 1 | Column : Highest Charting Position
Index: 2 | Column : Number of Times Charted
Index: 3 | Column : Week of Highest Charting
Index: 4 | Column : Song Name
Index: 5 | Column : Streams
Index: 6 | Column : Artist
Index: 7 | Column : Artist Followers
Index: 8 | Column : Song ID
Index: 9 | Column : Genre
Index: 10 | Column : Release Date
Index: 11 | Column : Weeks Charted
Index: 12 | Column : Popularity
Index: 13 | Column : Danceability
Index: 14 | Column : Energy
Index: 15 | Column : Loudness
Index: 16 | Column : Speechiness
Index: 17 | Column : Acousticness
Index: 18 | Column : Liveness
Index: 19 | Column : Tempo
Index: 20 | Column : Duration (ms)
Index: 21 | Column : Valence
Index: 22 | Column : Chord

In [40]:
# convert columns to numeric
df_temp = removeSpaceFromDf(df.iloc[:,12:22])
df_temp = convertToNumericDf(df_temp)
df.iloc[:,12:22] = df_temp

df_temp = df.iloc[:,[7]]
df_temp = convertToNumericDf(df_temp)
df.iloc[:,[7]] = df_temp

Removing space from column : {} Popularity
Removing space from column : {} Danceability
Removing space from column : {} Energy
Removing space from column : {} Loudness
Removing space from column : {} Speechiness
Removing space from column : {} Acousticness
Removing space from column : {} Liveness
Removing space from column : {} Tempo
Removing space from column : {} Duration (ms)
Removing space from column : {} Valence
Converted to numeric column : {} Popularity
Converted to numeric column : {} Danceability
Converted to numeric column : {} Energy
Converted to numeric column : {} Loudness
Converted to numeric column : {} Speechiness
Converted to numeric column : {} Acousticness
Converted to numeric column : {} Liveness
Converted to numeric column : {} Tempo
Converted to numeric column : {} Duration (ms)
Converted to numeric column : {} Valence
Converted to numeric column : {} Artist Followers

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [41]:
df.describe()

             Index  Highest Charting Position  ...  Duration (ms)      Valence
count  1556.000000                1556.000000  ...    1545.000000  1545.000000
mean    778.500000                  87.744216  ...  197940.816828     0.514704
std     449.322824                  58.147225  ...   47148.930420     0.227326
min       1.000000                   1.000000  ...   30133.000000     0.032000
25%     389.750000                  37.000000  ...  169266.000000     0.343000
50%     778.500000                  80.000000  ...  193591.000000     0.512000
75%    1167.250000                 137.000000  ...  218902.000000     0.691000
max    1556.000000                 200.000000  ...  588139.000000     0.979000

[8 rows x 14 columns]

In [54]:
df_temp

Empty DataFrame
Columns: [Index, Highest Charting Position, Number of Times Charted, Week of Highest Charting, Song Name, Streams, Artist, Artist Followers, Song ID, Genre, Release Date, Weeks Charted, Popularity, Danceability, Energy, Loudness, Speechiness, Acousticness, Liveness, Tempo, Duration (ms), Valence, Chord]
Index: []

In [66]:
df_temp = df.filter(like='Ed Sheeran')
df_temp

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1556 rows x 0 columns]

In [13]:
df_temp = df['Release Date']
df_temp

0       2017-12-08
1       2021-07-09
2       2021-05-21
3       2021-06-25
4       2021-07-23
           ...
1551    2017-06-02
1552    2019-10-11
1553    2018-01-12
1554    2019-09-25
1555    2019-11-13
Name: Release Date, Length: 1556, dtype: object

In [14]:
df_temp = df_temp.str.replace('-','')
df_temp = df_temp.str.replace(' ','')
df_temp.dropna
df_temp = pd.to_datetime(df_temp , format='%y%m%d')

ValueError: ignored

In [62]:
df.filter(items=[' ', '', np.NaN, 'Ed Sheeran'], axis=0)

Empty DataFrame
Columns: [Index, Highest Charting Position, Number of Times Charted, Week of Highest Charting, Song Name, Streams, Artist, Artist Followers, Song ID, Genre, Release Date, Weeks Charted, Popularity, Danceability, Energy, Loudness, Speechiness, Acousticness, Liveness, Tempo, Duration (ms), Valence, Chord]
Index: []

In [26]:
df.dtypes

Index                          int64
Highest Charting Position      int64
Number of Times Charted        int64
Week of Highest Charting      object
Song Name                     object
Streams                      float64
Artist                        object
Artist Followers             float64
Song ID                       object
Genre                         object
Release Date                  object
Weeks Charted                 object
Popularity                   float64
Danceability                 float64
Energy                       float64
Loudness                     float64
Speechiness                  float64
Acousticness                 float64
Liveness                     float64
Tempo                        float64
Duration (ms)                float64
Valence                       object
Chord                         object
dtype: object